/*!Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*!----------*/
body {
	font-size: calc(1.325rem + 0.9vw);
	font-family: "Nunito", sans-serif;
	background-image: url(../../../img/background.jpg);
}
@media (min-width: 1200px) {
	body {
		font-size: 2rem;
	}
}

h1, .h1 {
	font-size: calc(1.525rem + 3.3vw);
	font-weight: 700;
	color: #e3ec8e;
}
@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 4rem;
	}
}

.header {
	background-color: #AF4425;
	border-radius: 0 0 20px 20px;
}

.title {
	text-align: center;
	font-size: 24px;
	color: #1c526f;
	font-weight: bold;
	margin: 0 0 30px 0;
}

p {
	margin: 15px;
}

.nav {
	border-radius: 20px 20px 0 0;
	background-color: #d7ac7a;
}
.nav__btm {
	width: 100px;
	background-color: #8b7254;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	margin: 5px 0;
}
.nav__btm:hover {
	background-color: #6e5941;
}
.nav__ref a {
	font-size: 16px;
	color: white;
}

.content {
	background-color: #EBDCB2;
	border-radius: 0 0 20px 20px;
}

.links ol {
	font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
	.links ol {
		font-size: 1.5rem;
	}
}
.links ol a {
	text-decoration: underline;
}

.form {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	font-size: 16px;
}
.form fieldset {
	border: 1px solid #1c526f;
}
.form legend {
	font-size: 20px;
	color: #1c526f;
}

.table {
	font-size: 1rem;
}

.footer {
	background-color: #C9A66B;
}
.footer__row {
	height: 50px;
}
.footer__text {
	line-height: 50px;
	font-size: 16px;
	color: #55462b;
}
